# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class


# =========================
# Virtual environment
# =========================
venv/
.env/
.venv/


# =========================
# logs
# =========================
!logs/
!logs/.gitkeep
*.log


# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Django
# =========================
local_settings.py
db.sqlite3
media/
staticfiles/


# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo


# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

